.form-container {
  width: 800px;
  padding: 60px 60px 60px 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.5) 0px 5px 20px;
  border-radius: 5px;
  min-height: 645px;
  justify-content: center;
  background: linear-gradient(to right, rgb(35,44,56), rgb(40,61,83));
  color : white;
}

.success-message {
  font-weight: 600;
  color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  grid-column: span 2;
  margin: 0;
}

.submit-button {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: #ed563b;
  border-color: #ed563b;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navigation-button {
  padding: 1rem;
  border-radius: 0.375rem;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: rgb(10, 12, 12);
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}

.new-grid-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}