.member-page{
    min-height: 100vh;
    // width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to right, rgb(77,86,95), rgb(40,61,83));
    padding: 30px;
    width: 100%;
    .active-tab{
        background-color: burlywood !important;
      }
  
}
.left-menu a{
    width: 300px;
    text-decoration: none;
    cursor: pointer;
}
.left-menu-section, .right-menu-section{
    margin-top: 10%;
    height: 100vh;
    
    // background-color: aliceblue;
    // height: 100vh;
   
}
.main-button{
    a{
        color: white !important;
    }
}
.table-prod-img{
    width: 30px;
    height: 30px;
}
.plus-icon, .minus-icon{
    width: 25px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}
.cart-img{
    width: 50px;
}
.minus-icon.disable ,.plus-icon.disable{
   opacity: 0.5;
   pointer-events: none;
} 


table {
    border-collapse: collapse;
    width: 100%;
    
    .delete-icon{
        cursor: pointer;
    }
    .tbody{
        vertical-align: bottom !important;
    }

    thead{
        background:#ed563b !important;
        color: aliceblue;
        border-radius: 10px !important;
    }
  }
  
  th, td {
    text-align:justify;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  .donload-btn{
    float: right;
    display: flex;
  }
  .donload-btn:disabled{
    background-color: darkgray;
    border: #575756;
  }

 .donnload-section {
    height: 60px;
    display: block;
  }
  .table>tbody{
    vertical-align: bottom !important;
    p{
        vertical-align: bottom !important;
        margin-bottom: 0px;
    }
  }

.total-balance{
    font-size: 20px;
    font-weight: 500;
   
    text-align: end;
    margin-right: 50px;
    margin-top: 30px;
    span{
        color: #ed563b;
    }
}
.donload-btn{
    float: right;
    display: flex;
  }
  .donload-btn:disabled{
    background-color: darkgray;
    border: #575756;
  }

 .donnload-section {
    height: 60px;
    display: block;
  }

  .action-section{
    width: 80px;
  }
  .selected-img{
    width: 100px;
    height: 100px;
    border: 1px solid #ed563b;
    vertical-align: bottom;
    padding: 10px;
    margin: auto;
    display: block;
  }