.signup-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(77,86,95), rgb(40,61,83));
}
.logo{
  margin: auto;
  height: 60px;
  display: block;
}